numpy
packaging>=19.0
qcelemental
scipy>=1.2.0

# bridges
biopython==1.76
ase ; python_version >= '3.5'
git+https://github.com/rpmuller/pyquante2.git ; python_version > '3.0'

# For building the documentation
sphinx

# For testing
pytest
coverage
pytest-cov
